[2017-12-29 07:45] leathersole opened #1 "Unable to install mobile-core because of oc variables"
## Description
Unable to install mobile-core because of oc variables

## Environment

*Operating system*: macOS 10.13.2
*OpenShift versions*:  v3.7.0+7ed6862

## Steps to reproduce
Follow this instruction
https://github.com/aerogear/mobile-core/blob/master/docs/walkthroughs/local-setup.adoc#creating-a-local-cluster

## Actual result
mobile-core/installer/playbook.yml failed at this task:

[code]

[2018-01-03 14:22] aidenkeating commented on #1
@leathersole These variables are no longer needed and are out of date anyway. I have made a PR to remove them. That should resolve this issue.

[2018-01-03 14:42] #1 closed

[2018-01-08 09:50] wtrocki opened #14 "Remove `auto_escalate` option from ansible service broker"
## Description

 https://github.com/aerogear/mobile-core/pull/9 introduces new flag:
`auto_escalate`= true. We should not override this flag in long term.

## Action

Remove `auto_escalate` option from ansible installer.

[2018-01-08 09:52] wtrocki opened #15 "Use upstream installer for ansible service broker"
## Description

Currently when updating installation for ansible service broker we need to compare changes upstream and manually replicate them over to our repository.

For long term aproach it may be desirable to make changes upstream and introduce parameters to our installation script that will help us to reuse their tooling.

[2018-01-08 11:39] rachael-oregan opened #16 "Installer does not update oc version correctly"
## Description
The install script does not update the openshift-cli correctly.  It should update/install version 3.7.0 but instead it installs 3.6.0.

## Environment
*Operating system*: MacOS Sierra

## Steps to reproduce
Remove your oc binary and run the install script
After installer has stopped check the oc version. It will be 3.6.0

[2018-01-09 02:13] secondsun opened #17 "KeyCloak Bindings won't create"
## Description
When I try to make a keycloak binding, it fails.  The error I got from the pod is : fatal: [localhost]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'admin_username' is undefined\n\nThe error appears to have been in '/opt/ansible/roles/bind-keycloak-apb/tasks/main.yml': line 16, column 3, but may\nbe elsewhere in the file depending on th

[2018-01-09 10:35] aidenkeating commented on #16
@rachael-oregan I can't seem to reproduce, have you checked that your roles are up to date?

[2018-01-09 10:38] aidenkeating opened #18 "Installer Docker checks don't work on Fedora 27"
## Description

The check for whether Docker is installed is not working on Fedora 27. Docker was not installed however the checks still passed. I haven't yet checked whether this occurs when Docker is just not running.

## Environment

*Operating system*: Fedora 27
*OpenShift versions*: 3.7.0

## Steps to reproduce

* Uninstall Docker
* Run the install script

[2018-01-09 14:13] aidenkeating opened #22 "Installer will not update Ansible Galaxy roles on ansible-galaxy install"
## Description
Currently, when we install roles in the install script they will not be overwritten with updated roles. Instead the old role will remain.

We should remove out-of-date roles and installer updated versions wherever possible.

## Steps to reproduce
* Install an old version of a role
* Run the install script
* The old version will remain

[2018-01-09 15:28] rachael-oregan commented on #16
@aidenkeating closing this issue as we confirmed this was a problem with ansible picking up the local version instead of the global

[2018-01-09 15:28] #16 closed

[2018-01-09 16:20] maleck13 commented on #17
@secondsun this is due to the params we pass to the bind playbook. We passed them from the server (this was before OpenShift supported bind params) now that they support bind params we should probably expose them as part of the APB pinging @wei-lee as they are looking at the kc apb

[2018-01-09 16:29] aidenkeating commented on #16
@rachael-oregan https://github.com/aerogear/mobile-core/issues/22 Created from this discovery

[2018-01-10 15:36] aidenkeating commented on #18
Resolved by https://github.com/aerogear/mobile-core/pull/25

[2018-01-10 15:36] #18 closed

[2018-01-10 15:38] aidenkeating commented on #22
This should just involve including a `version` field to our dependencies.

https://github.com/plone/ansible-playbook/blob/master/requirements.yml

[2018-01-12 13:15] aidenkeating commented on #22
Resolved by https://github.com/aerogear/mobile-core/pull/27

[2018-01-12 13:15] #22 closed

[2018-01-26 11:54] aidenkeating commented on #17
@secondsun This should have been resolved. We have included a bind parameter to accept a service name. This should be visible in the OpenShift UI also when creating a binding.

[2018-04-03 17:14] evanshortiss opened #57 "Missing installer roles"
## Description
When running the installer via `./installer/install.sh` the following error is raised:

[code]

This can be fixed by commenting it from the `playbook.yml`, but then this happens:

[code]

Similarly, it can be fixed by commenting out if the tools exists on your machine already.

## Environment
* ansible - 2.4.2.0
* oc - v3.7.1+ab0f056

*Operating system*: macOS - 10.12.6

## Steps to

[2018-04-04 08:03] maleck13 commented on #57
@evanshortiss thanks for the issue. In the meantime, could you try using the minishift plugin that we have available?
https://github.com/aerogear/minishift-mobilecore-addon

@philbrookes @aidenkeating  any thoughts on this one?

[2018-04-04 08:53] aidenkeating commented on #57
@evanshortiss Do you have the full output of running `./installer/install.sh` available? It looks like the Ansible Galaxy roles aren't being included in `./installer/roles/` correctly but I cannot reproduce the issue.

[2018-06-14 22:06] evanshortiss commented on #57
Updating to Ansible 2.5+ fixed this. It seems to be some issue related to the OpenSSL version used by Python on macOS (brew version vs system installed version)

Anyways. Fixed!

[2018-06-14 22:06] #57 closed

[2018-06-20 16:26] pmacko1 opened #109 "Update "Getting Started" with oc cluster up docs"
## Description
https://github.com/aerogear/mobile-core/blob/master/docs/walkthroughs/getting-started-installation.adoc
## Update with
https://github.com/aerogear/mobile-docs/blob/master/modules/ROOT/pages/installing-mobile-services.adoc

[2018-06-23 08:18] finp opened #110 "installer error for oc tools on fedora"
fedora 27:

TASK [openshift-origin-client-tools : unarchive] ************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to find handler for \"/tmp/openshift-origin-client-tools-v3.9.0-191fece-linux-64bit.tar.gz\". Make sure the required command to extract the file is installed. Command \"/bin/gtar\" could not handle archive. Command \"/bin/unzip\" could n

[2018-06-25 15:13] #17 closed

[2018-07-07 00:03] dneary opened #127 "Provide instructions for installing mobile services on an existing OpenShift cluster"
## Description

I already have a multi-node OpenShift cluster running, and have a username and password to connect to it. I have shell access to the OpenShift master node, if I need it.

I would like instructions for installing Aerogear mobile services to my OpenShift - I don't really know a lot about OpenShift, but the "Getting started" guide talks about oc cluster up only, and when I run the ins

[2018-07-07 13:35] maleck13 commented on #127
@dneary Thanks for the issue. The installer here is meant for local dev using oc cluster up. We are working on allowing it to be installed on any 3.9 => cluster . Util then please take a look at the following doc and see does it suit your needs

https://github.com/aerogear/mobile-core/blob/master/docs/walkthroughs/setup-mobile-on-existing-cluster.adoc

[2018-07-09 14:23] johnfriz commented on #127
@dneary - There is an Open PR here for automating the installation on an existing cluster: https://github.com/aerogear/mobile-core/pull/125

If you had a few minutes to give it a go and provide feedback,. that would be great :-D

[2018-07-09 14:23] johnfriz commented on #110
@finp are you still seeing this issue? If so, are there any more details you can provide?

[2018-07-09 14:33] johnfriz commented on #109
@pmacko1 - The getting started guide has been updated significantly since this issue was raised and I believe the new structure addresses this issue. Can you take a look at https://docs.aerogear.org/aerogear/latest/getting-started.html and see if has actually addressed this issue.

[2018-07-10 02:19] dneary commented on #127
I have had some issues with the .yml file - can't figure out how to apply the playbook to a cluster which is running somewhere other than localhost. I am not an Ansible expert by any means!

I would have expected an "oc new-app" or "oc apply" to connect to a running OpenShift with the OpenShift client..

[2018-07-11 10:04] pmacko1 commented on #109
@johnfriz this issue is about docs in this repo, not mobile-docs.

What are we planning to do with docs living besides code?

[2018-07-12 07:01] camilamacedo86 opened #129 "Project does not have an installer"
## Description

**WHAT:**  Project does not have an installer which is not a good experience
**WHERE:** https://github.com/aerogear/mobile-core.git
**WHEN:** to install is required to clone the repo, then checkout a fixed tag then run a script.
**IMPACT:** It is not a good experience, and it does not pass confidence, and it means that the user needs to checkout tags when would like to get a new ve

[2018-07-12 07:17] camilamacedo86 opened #130 "Unable to install with Ansible version 2.4 or above <2.6 as defined in the doc"
## Description
**WHAT:** Unable to install with Ansible version 2.4 or above <2.6
**WHERE:** iOS env
**WHEN:** Run the command `./installer/install.sh` and is following the pre-requirements in the docs[1]

[1] - https://docs.aerogear.org/aerogear/latest/getting-started.html#procedure

## Environment

*Operating system*: iOS
*OpenShift versions*:

## Steps to reproduce

* When the version 2.4 is in

[2018-07-12 07:37] camilamacedo86 opened #131 "Info message to install Ansible is confusing and not accurate when is required a updated"
## Description
**WHAT**: Message "Ansible version is < 2.6. Install ansible>=2.6 using pip install ansible>=2.6" is shown
**WHERE**: iOS
**WHEN**: run the install command `./installer/install.sh`
**IMPACT**:
* Not clear what command need to be executed. Is it  `pip install ansible>=2.6` or `pip install ansible`?
* The command `pip install ansible` will NOT update the current installation

#### Wha

[2018-07-12 07:55] maleck13 commented on #131
Thanks for the issue @camilamacedo86  did running pip install --upgrade ansible solve the issue for you? If so a PR to change the message would be welcome

[2018-07-12 07:59] maleck13 commented on #127
I believe you may need to run this script on the host currently ping @wei-lee.

[2018-07-12 08:01] camilamacedo86 commented on #131
Hi @maleck13,
The correct command was added in the issue description as the expected behaviour and it worked for me.

"The command to update the current version to the latest publish is pip install ansible --upgrade --user"

PS.: --user option is important to don't face the pip permission error. See [here](https://github.com/fonttools/fonttools/issues/796)

[2018-07-12 08:19] camilamacedo86 opened #132 "Add step `oc cluster up` in the installer script before starts the ansible tasks"
## Description

**WHAT**: Unable to install with error message `did not detect an --insecure-registry argument on the Docker daemon\n` in the oc-cluster-up task
**WHERE:** IOS - Minishift 3.9
**WHEN:** Run the `./installer/install.sh`

Following the error.

[code]

#### What is expected?
* An clear message with the error and not the task output
* An explanation how to fix it better than `Ensure th

[2018-07-12 08:36] wei-lee commented on #127
@dneary You can run the script on localhost, you just need to make sure oc is connected to the remote cluster.

[2018-07-12 09:04] damienomurchu opened #133 "Unclear how to get better debug info from installer script"
## Description

Its not clear how to get better debug info from the installer script. You can modify the installer script [here](https://github.com/aerogear/mobile-core/blob/master/installer/install.sh#L221) and [here](https://github.com/aerogear/mobile-core/blob/master/installer/install.sh#L229) to pass in `-v`/ `-vv` flags here if you know ansible, but its unclear how to do this by just running

[2018-07-12 09:19] mmurphy opened #134 "confusing DockerHub Username default in installer"
## Description
installer says

I don't think this is clear.  If it's going to use the current value of DOCKERHUB_USERNAME, then I think it should show what that value is.  If it's going to use, whatever the future values of DOCKERHUB_USERNAME, then I think it has to be more explicit about this.

## Environment

*MacOS*:
*OpenShift 3.9*:

## Steps to reproduce
./installer/install.sh

[2018-07-12 09:23] austincunningham opened #135 "installer failing too many colons in address"
## Description
Cluster up fails running ./installer/install.sh fails with the following issue

[code]
## Environment

*Operating system*:
Linux mint 18
*OpenShift versions*:
3.9

## Steps to reproduce
Run the installer as outlined at https://docs.aerogear.org/aerogear/latest/getting-started.html#prerequisites

## Extra Notes

The issue is [here](https://github.com/aerogear/mobile-core/blob/95f587e

[2018-07-12 09:28] camilamacedo86 opened #136 "Installer output does not make clear which password is required"
## Description
**WHAT** Installer output does not make clear which password is required
**WHERE** Installer script
**WHEN** After adding the docker hub details
**IMPACT** The sudo/root pwd from the local machine is required, however, the message not make clear it. Following the place. Also, why the password is requested twice? Should it not be requested once?

[code]

## Environment

*Operating sy

[2018-07-12 09:31] matskiv opened #137 "Wrong message if python is not installed"
## Description
When python is not installed it shows this message as a suggestion how to install it: "pip install ansible>=2.3"

Code:
https://github.com/aerogear/mobile-core/blob/master/installer/install.sh#L91

I didn't experience this problem because I already had python installed, I just noticed this message in source code - that's why I didn't fill Environment and  Steps to reproduce.

[2018-07-12 09:33] jasonmadigan commented on #136
this is `ansible` prompting for sudo @camilamacedo86 - it's shelled out to from `install.sh`.

Agree we could should update `install.sh` to mention/flag that we're shelling out to ansible and it will prompt for a sudo'er password.

[2018-07-12 09:34] damienomurchu opened #138 "Installer script fails on docker out of space error when using docker v18.0.3"
## Description

Install fails on [this step](https://github.com/aerogear/mobile-core/blob/master/installer/roles/patch-origin-web-console/tasks/main.yml#L19) with a docker out of space issue. Abundant space on local machine, and seems this is error is related to space on the openshift origin container.

Running script with `-vvv` flag for ansible-playbook command, and also checking docker daemon l

[2018-07-12 09:37] matskiv commented on #130
@camilamacedo86 I think this is now resolved by my docs update: https://github.com/aerogear/mobile-docs/pull/227

[2018-07-12 09:48] grdryn opened #139 "Typo: Mobile builds are not "avaialble" for Xamarin."
## Description
![image](https://user-images.githubusercontent.com/442386/42625913-e3578834-85c0-11e8-9ab6-b84dfeaa3917.png)

## Steps to reproduce
1. Try to create a Build for a Xamarin app, see the typo in the message.

[2018-07-12 09:49] jasonmadigan commented on #135
@austincunningham can you add the output of `ipconfig`? Wondering if we've got some bug with interfaces with IPv6 addresses.

To workaround, use `10.201.82.185` (without the `:`) when prompted.

[2018-07-12 09:50] austincunningham commented on #135
[code]

[2018-07-12 09:51] mmusil opened #140 "Intaller fails on step create-mobile-client-crd : Copy CRD definition to tmp file"
## Description
**WHAT**: Unable to install with error in the ansible script
**WHERE**: Fedora 28
**WHEN**: The SO did not have installed the `libselinux-python`

<img width="1188" alt="screen shot 2018-08-15 at 16 06 39" src="https://user-images.githubusercontent.com/7708031/44173434-ccd93580-a0d7-11e8-8672-481c3b1df0a7.png">

### Following the workaround.
* Run `$yum install libselinux-python` th

[2018-07-12 09:55] jasonmadigan commented on #139
typo: https://github.com/aerogear/origin-web-console/blob/aerogear-mcp/app/views/browse/mobile-clients.html#L117

[2018-07-12 09:57] grdryn opened #141 "Can't create Xamarin apps through "Mobile CI/CD" service in OpenShift"
## Description
I followed the getting started guide, and foolishly chose Xamarin. I thought that since I'm using Linux on my developer machine that I'd just be able to build the app using the "Mobile CI/CD" service, but when I click on "Builds" for the mobile client, I get a [carelessly worded message](https://github.com/aerogear/mobile-core/issues/139) that it's not possible.

## Environment
Open

[2018-07-12 10:00] camilamacedo86 opened #142 "Ansible tasks output should appears just in a debug mode"
## Description

The ansible tasks output is not a good output for the end user. The installer should show more friendly messages. Following an example.

Instead of
[code]

Shows something as:
Your Mobile installation finish with success. Login into your OpenShift console <https://192.168.1.9:8443/console/> and check the Mobile in your browser Catalog.

## Environment

*Operating system*: iOS
*Open

[2018-07-12 10:08] austincunningham commented on #135
Was on master so , more that likely the issue, manually entering the IP resolves the issue

[2018-07-12 10:11] camilamacedo86 opened #143 "Unable to know what each item/template means"
## Description
**WHAT** Unable to know what each item/template means
**WHERE** Mobile Catalog >> All
**WHEN** the user see the item doesn't know what it is, and what does and how it cab useful

#### Suggestion:
Each item could have an info button with a small info and with the link for the README of the project

## Environment

*Operating system*: iOS
*OpenShift versions*: Origin 3.9

## Steps to

[2018-07-12 10:18] camilamacedo86 opened #144 "Parameters for services are not intuitive"
## Description
**WHAT:** Unable to know what means Mobile Client ID
**WHERE:** Mobile Catalog Services
**WHEN** the option `Create a secret in My Project to be used later` is selected

<img width="877" alt="screen shot 2018-07-12 at 11 17 04" src="https://user-images.githubusercontent.com/7708031/42627508-26b0b8c2-85c5-11e8-900c-c78df22473e9.png">

<img width="881" alt="screen shot 2018-07-12 at 1

[2018-07-12 10:18] grdryn commented on #139
https://github.com/aerogear/origin-web-console/pull/93

[2018-07-12 10:19] grdryn commented on #139
Closed via https://github.com/aerogear/origin-web-console/pull/93

[2018-07-12 10:19] #139 closed

[2018-07-12 10:24] camilamacedo86 opened #145 "Label duplicated in the popup to create the items"
## Description

**WHAT** Label duplicated
**WHERE** Catalog >> Mobile >> Each item >>
**WHEN**: try to create a new item

<img width="345" alt="screen shot 2018-07-12 at 11 23 31" src="https://user-images.githubusercontent.com/7708031/42627817-08d36ed4-85c6-11e8-8298-611724d3ee6c.png">
<img width="330" alt="screen shot 2018-07-12 at 11 21 28" src="https://user-images.githubusercontent.com/7708031/

[2018-07-12 10:26] camilamacedo86 opened #146 "Field BundleID in iOS App is missing explanation"
## Description
**WHAT** Field BundleID in OS App is missing description/info
**WHERE** Catalog >> Mobile >> App or All >> iOS
**WHEN** A new IOS app is created
**IMPACT** User did not know what bundle means, and where and how it will be used, as what should be added at this point.

<img width="869" alt="screen shot 2018-07-12 at 11 25 10" src="https://user-images.githubusercontent.com/7708031/4262

[2018-07-12 10:30] matskiv commented on #140
Fedora 27 as well.
I installed it like this:
`sudo dnf install libselinux-python`

[2018-07-12 10:33] camilamacedo86 opened #147 "Obligatory fields are missing alerts"
## Description
**WHAT**: Obligatory fields are missing alerts
**WHERE**: Catalog >> Mobile >> App >> Xamarin >> Configuration
**WHEN**: when try to create a app of this kind

Following the image. Note that because of it is missing the info in the "Package Name" is not possible click on create. An alert as it has in other places should appear to make clear that it is not possible to move forward wi

[2018-07-12 10:38] camilamacedo86 opened #148 "Package Name is missing description/info"
## Description
**WHAT**: Package Name is missing description/info
**WHERE**: Catalog >> Mobile >> App >> Xamarin >> Configuration
**WHEN**: when try to create a app of this kind

Following the image. What is the `Package Name`? Why is it required? Where is it used?

<img width="877" alt="screen shot 2018-07-12 at 11 31 36" src="https://user-images.githubusercontent.com/7708031/42628217-51fc3d9c-85

[2018-07-12 10:41] camilamacedo86 opened #149 "Package Name did not have validation and allow special characters and spaces"
## Description
**WHAT**: Package Name did not have validation and allow special characters and spaces
**WHERE**: Catalog >> Mobile >> App >> Xamarin >> Configuration
**WHEN**: when try to create a app of this kind

Following the image. Is a possible exist a package name with special characters? Could it not cause issues?

<img width="647" alt="screen shot 2018-07-12 at 11 39 00" src="https://user-

[2018-07-12 10:45] camilamacedo86 opened #150 "Project Name field did not have validation and allow special characters and spaces"
## Description
**WHAT**: Project Name field did not have validation and allow special characters and spaces
**WHERE**: Catalog >> Mobile >>
**WHEN**: when trying to create an item

<img width="891" alt="screen shot 2018-07-12 at 11 42 39" src="https://user-images.githubusercontent.com/7708031/42628779-0eaaed84-85c9-11e8-9814-a6ff3751803b.png">

## Environment

*Operating system*: iOS
*OpenShift ve

[2018-07-12 10:49] damienomurchu opened #151 "Android build of showcase app fails (but still runs in emulator)"
## Description

Android build of [showcase app](git clone https://github.com/aerogear/android-showcase-template.git) fails when built in Android studio with `./gradlew clean build` (App still seems to run fine though, strangely enough..).

[code]

## Environment

*Operating system*: Fedora 26
*OpenShift versions*: 3.9
*Android Studio version*: 3.0.1

## Steps to reproduce

- clone android studio s

[2018-07-12 10:50] camilamacedo86 opened #152 "Android SDK License Agreement is a text box when it should be a checked box"
## Description
**WHAT:** Android SDK License Agreement is a text box when it should be a checked box
**WHERE** Catalog >> Mobile >> Services >> Mobile CI|CD
**WHEN**: trying to create it.
**IMPACT**: Usability

<img width="872" alt="screen shot 2018-07-12 at 11 49 12" src="https://user-images.githubusercontent.com/7708031/42628952-9f51a8f0-85c9-11e8-9efc-459e8a6fb4e3.png">

## Environment

*Operat

[2018-07-12 10:53] camilamacedo86 opened #153 "Android SDK License Agreement field is missing the license that is mandatory agree"
## Description
**WHAT:** Android SDK License Agreement is a text box when it should be a checked box
**WHERE** Catalog >> Mobile >> Services >> Mobile CI|CD
**WHEN**: trying to create it.
**IMPACT** How the user can be obligated to agree with a license without being able to read it? Is this field really required? Note that the info for a link that is not clickable just appears after write yes.

<i

[2018-07-12 10:55] davidffrench opened #154 "Mobile App Creation Wizard - Add explanations of fields on mobile app creation wizard"
## Description
Add explanations of fields on mobile app creation wizard. E.g. a hover over question mark (?) to explain what is needed in the field.

## Steps to reproduce
1. Navigate to your OpenShift service catalog
2. Select iOS App and click next
3. It would be useful to give an explanation on all fields during these wizards.

![2018-07-12_11-53-07](https://user-images.githubusercontent.com/15

[2018-07-12 11:00] davidffrench opened #155 "Mobile App Creation Wizard - Duplicate text on the first screen"
## Description
The first screen of the mobile app creation wizard displays the same line of text twice.
Sets up an <app type> App representation.

## Environment

*Operating system*: MacOS
*OpenShift versions*: 3.9

## Steps to reproduce
1. Navigate to your OpenShift service catalog
2. Select iOS App
![2018-07-12_12-00-08](https://user-images.githubusercontent.com/1596014/42629430-2d036ae8-85cb-11

[2018-07-12 11:01] camilamacedo86 opened #156 "Android SDK package config has bad usability"
## Description

**WHAT:** Project Name field did not have validation and allow special characters and spaces
**WHERE:**: Catalog >> Mobile >>Services >> Mobile CI|CD
**WHEN:** when trying to create an item

* Is this area editable? Should the user be able to edit it?
* Not possible read properly the information
* Not clear where, and why it is required

Following an image.

<img width="641" alt="s

[2018-07-12 11:05] camilamacedo86 commented on #154
In the customer/user point of view, it is a bug because they cannot understand and know what should be imputed.

[2018-07-12 11:11] camilamacedo86 commented on #136
Hi @jasonmadigan,

I could figure out, however,  I am here in wearing the user hat :-)

[2018-07-12 11:15] camilamacedo86 commented on #155
The same of : https://github.com/aerogear/mobile-core/issues/145 ( duplicated )

[2018-07-12 11:18] camilamacedo86 opened #157 "Unable to add name to the services"
## Description

The user/customer can create more than one service of each kind with a different setup and then is not possible to identify each one.

<img width="751" alt="screen shot 2018-07-12 at 12 16 38" src="https://user-images.githubusercontent.com/7708031/42630140-a2c50334-85cd-11e8-85d3-a718e23fb25c.png">

## Environment

*Operating system*: iOS
*OpenShift versions*: 3.9

## Steps to repr

[2018-07-12 11:23] davidffrench opened #158 "Why are the mobile apps showing up as provisioned services?"
## Description
In my opinion, it is confusing to have the created mobile apps showing up as provisioned services. IS there a purpose to have these shown to the user and not hidden?

## Environment

*Operating system*: MacOS 10.13.5
*OpenShift versions*: 3.9

## Steps to reproduce
1. Create a mobile app from the service catalog
2. Navigate to your project
![2018-07-12_12-22-44](https://user-images.

[2018-07-12 11:30] camilamacedo86 opened #159 "DataSync provisioning fails."
## Description

Following the error faced.

`The service failed. Error provisioning ServiceInstance of ClusterServiceClass (K8S: "e54801e9be6229e2d924f7bc349ad20f" ExternalName: "dh-data-sync-apb") at ClusterServiceBroker "ansible-service-broker": Status: 400; ErrorMessage: <nil>; Description: not found; ResponseError: <nil>
`

Following the place.

<img width="1164" alt="screen shot 2018-07-12 at

[2018-07-12 11:34] camilamacedo86 opened #160 "Unable to bind the service Identify Management to cordova app when it is binding already to a android app"
## Description

**WHAT**: Unable to bind the service Identify Management to cordova app when it is binding already to a android app
**WHERE**: MyProject >> Overview
**WHEN** try to bind the  Identify Management to a cordova app when it is already linked to a Android app. Following the issue.

<img width="1227" alt="screen shot 2018-07-12 at 12 33 12" src="https://user-images.githubusercontent.com/

[2018-07-12 11:53] camilamacedo86 opened #161 "Unable to check the errors and troubleshooting issues"
## Description
**WHAT**Unable to check the errors and troubleshooting issues
**WHERE** Projects/Services created via Mobile
**WHEN** something fails

Following an example, where a project was created and an app for it and a service which fails.
<img width="1235" alt="screen shot 2018-07-12 at 14 05 28" src="https://user-images.githubusercontent.com/7708031/42634976-a8bc79de-85dc-11e8-836d-a7cf7e84

[2018-07-12 12:09] camilamacedo86 opened #162 "Client application should be a hello world template with the SDK and config already made"
## Description

When a user creates a client app, is expected to have something actually to use. I think that a hello world template should be added at this point with the SDK already set up into it as the config created. Also, a link for the SDK docs as an explanation about how and where this setup/config should be added in client app view.

<img width="1042" alt="screen shot 2018-07-12 at 13 07

[2018-07-12 12:17] camilamacedo86 opened #163 "Bad usability to perform builds"
## Description

**WHAT**: Bad usability to perform builds
**WHERE** Project >> Overview >> Client app >> Build Tab
**WHEN**: Click on the build tab the following appears

<img width="997" alt="screen shot 2018-07-12 at 13 15 23" src="https://user-images.githubusercontent.com/7708031/42632616-ad04b9ea-85d5-11e8-9187-108425c57ac7.png">

#### Expected behaviour:
* It should be more intuitive and dire

[2018-07-12 12:18] jasonmadigan commented on #135
@austincunningham I wouldn't mind taking a peak at this anyway, just to check master - will re-open and we'll take a look before closing

[2018-07-12 12:22] camilamacedo86 opened #164 "Mobile CI|CD can be used for all platforms then why is required to add Android info? What means Android SDK package config in this point?"
## Description

Mobile CI|CD can be used for all platform then why is required to add Android info? What means Android SDK package config?

## Environment

*Operating system*: iOS
*OpenShift versions*: 3.9

## Steps to reproduce
Catalog >> Services >> Mobile CI|CD

[2018-07-12 12:25] mmurphy opened #165 "error building iOS-showcase app"
## Description

getting error building iOS showcase app

## Environment

*MacOS 10.13.6*:
*XCode 9.4.1*:
*CocoaPods 1.5.3*:

## Steps to reproduce
[code]
then click run icon in Xcode

[2018-07-12 12:35] jasonmadigan commented on #165
@mmurphy could you add the version of Cocoapods? Also, could you include output of the `pod install` command too.

[2018-07-12 12:40] davidffrench opened #166 "Service Provisioning - Transparency on service provisioning"
## Description
It would be very nice to see the stages and progress when provisioning a service.

I had a scenario when I was provisioning an identity management service were the only message for 40 minutes before failing was `The service is not yet ready. The instance is being provisioned asynchronously (action started)`. there was no transparency on what exactly it was trying to do and why it wa

[2018-07-12 12:48] camilamacedo86 opened #167 "If the cluster goes down is required performed the installation again"
## Description

If the cluster goes down is required performed the installation again, when, is expected that do it just once.
## Environment

*Operating system*:iOS
*OpenShift versions*: 3.9

## Steps to reproduce
* Install the Mobile
* Check if it is working then shut down the OCP OR when an issue is faced and the OCP cluster die
* Start the OCP again the Mobile will be not so long there in the

[2018-07-12 12:51] mmurphy commented on #165
[code]

[2018-07-12 12:56] austincunningham opened #168 "CI/DC why not have a toggle rather that a text box for yes"
## Description
More a feature request than issue
Why not have a radio button or toggle for the first field ?

![image](https://user-images.githubusercontent.com/16667688/42634436-23f9c7fc-85db-11e8-8e69-b63db8cb0bc4.png)

[2018-07-12 12:58] wtrocki commented on #165
@mmurphy I can reproduce problem when opening project file instead of workspace.
How xcode is launched? In documentation we suggest using workspace file.

[2018-07-12 13:01] wtrocki commented on #159
@camilamacedo86 Datasync is currently under development. It's not part of the release. Ping @darahayes @aliok @pb82 we should probably remove datasync as it will appear for community users.

[2018-07-12 13:03] mmurphy commented on #165
@wtrocki Thanks, that look like the issue.

[2018-07-12 13:07] wtrocki commented on #151
@damienomurchu this command is used to build for production which requires certificate. Error means that apk was not signed so it will work on emulator. If the command was from the documentation then this is documentation issue (we should use debug build)

[2018-07-12 13:10] wtrocki commented on #165
@mmurphy Thanks for contribution. Going to close this issue, but if you experience any other problems related with startup feel free to reopen this.

[2018-07-12 13:10] #165 closed

[2018-07-12 13:10] grdryn opened #169 "Can't download cordova app apk from artifact-proxy-route URL"
## Description
Link (https://artifact-proxy-route-myproject.10.201.82.56.nip.io/cordova-grdryn-pr98-2/download?token=cordova-grdryn-pr98-2-1531399784418&amp;artifact=true)

gives the following output rather than an apk to download:

<details>
invalid build type found for build &Build{ObjectMeta:k8s_io_apimachinery_pkg_apis_meta_v1.ObjectMeta{Name:cordova-grdryn-pr98-2,GenerateName:,Namespace:mypro

[2018-07-12 13:10] camilamacedo86 commented on #168
Duplicated of : https://github.com/aerogear/mobile-core/issues/152

[2018-07-12 13:13] camilamacedo86 commented on #166
I believe that it has relation with https://github.com/aerogear/mobile-core/issues/161

[2018-07-12 13:41] darahayes commented on #159
@camilamacedo86 Thanks very much for raising this. This was a mistake on our part. We accidentally published the Sync Service to the aerogearcatalog organisation a little too early. It should not be used yet.

Looping in @maleck13 to ask a question - Can we publish the sync apb (or any apb) to the aerogearcatalog docker org without it showing up in the community release version of the catalog?

[2018-07-12 13:49] maleck13 commented on #159
It shouldn't show up if there is no tag for 1.0.0 @camilamacedo86 when doing the install did you set the tag to latest?

[2018-07-12 13:50] davidkirwan opened #170 "SEC_ERROR_REUSED_ISSUER_AND_SERIAL Secure Connection Failed"
## Description
Firefox displaying SEC_ERROR_REUSED_ISSUER_AND_SERIAL error when attempting to connect to the openshift console.

## Environment

*Operating system*: _Fedora release 28 (Twenty Eight)_
*OpenShift versions*:
[code]

## Steps to reproduce

While following the instructions at: https://docs.aerogear.org/aerogear/latest/getting-started.html#prerequisites
- oc cluster up
- git clone https

[2018-07-12 13:59] PhilipGough commented on #169
Hey @grdryn . Would you mind pasting in the annotations that exist on this build please?

[2018-07-12 14:04] camilamacedo86 commented on #159
@maleck13 to install it I follow the docs and I clone the project and I am using the tag 1.0.0.

[2018-07-12 14:30] wtrocki commented on #159
@camilamacedo86 Tag is being set in the ASB (it's one of the questions on installer)

[2018-07-12 14:40] maleck13 commented on #169
issue created to track https://issues.jboss.org/browse/AEROGEAR-7566

[2018-07-12 14:44] pawelpaszki opened #171 "Can't provision mobile CI/CD"
## Description

After running the installer I am attempting to provision mobile CI/CD. When navigating to the monitoring tab after a couple of minutes I can see a number of warnings, as in the screenshots below

![selection_001](https://user-images.githubusercontent.com/11087605/42640193-ae9aac60-85e9-11e8-9c7e-b702e3703c88.png)

![selection_002](https://user-images.githubusercontent.com/11087605/

[2018-07-12 15:07] austincunningham opened #172 "CI/CD failing android build on showcase app"
## Description

Error running build on show case app
[code]

Workaround
Go to `Manage Jenkins\script approval ` and approve
https://jenkins-5x.10.201.82.185.nip.io/scriptApproval/ and run the build again

## Environment

*Operating system*:
mint 18
*OpenShift versions*:
3.9
## Steps to reproduce
- Log in to the OpenShift Console.
- Browse to the Project Overview screen and find the Mobile Client y

[2018-07-12 15:30] damienomurchu opened #173 "Installer fails when wildcard DNS suffix is specified as a blank string, ie ''"
## Description

Installer assumes user is going to specify a suffix, or accept the nip.io default. If the user specifies a blank string as the suffix it causes the installer to fall over.

Code lines in question:
- https://github.com/aerogear/mobile-core/blob/1.0.0/installer/install.sh#L206
- https://github.com/aerogear/mobile-core/blob/c64ecf972b67596dcc9103c1a9cc47b183fc0d6b/installer/roles/oc-c

[2018-07-12 15:30] wtrocki commented on #159
Yeah. Mobile-core repository tag is different than tag is being used to fetch apb's from dockerhub repository. 3th option in installer questions.

[2018-07-12 16:21] camilamacedo86 commented on #137
Done a PR https://github.com/aerogear/mobile-core/pull/174

[2018-07-12 16:29] camilamacedo86 commented on #159
@wtrocki it is not good and it is not documented. The user should not need to do git clone, git checkout and answer in some of the many questions the tag version. Also, it is not documented, however, regards the installer I opened another issue https://github.com/aerogear/mobile-core/issues/129, then feel free to close this one if it is not a real bug.

[2018-07-12 16:30] #159 closed

[2018-07-12 16:38] grdryn commented on #169
@PhilipGough unfortunately I didn't keep that cluster up. I might still be able to bring up the same one again, I'll try later or tomorrow if I get a chance.

[2018-07-12 16:48] camilamacedo86 commented on #131
PR made https://github.com/aerogear/mobile-core/pull/175

[2018-07-12 16:49] camilamacedo86 commented on #130
Closing since it is solved in the docs.

[2018-07-12 16:49] #130 closed

[2018-07-12 23:35] camilamacedo86 commented on #132
PR <https://github.com/aerogear/mobile-core/pull/177> already made.

[2018-07-13 08:13] camilamacedo86 opened #178 "Installer should not contain eng docs and demos"
## Description
The installer should not contain docs and demos, the installer should have what is relevant to it and is part of the process to install. When users do the download this process should be fast and light and they are not looking for videos, and images, and docs as for example Mobile Core Onboarding which is there etc .. ( doc directory ). It is not relevant to the users.

#### Some su

[2018-07-13 08:18] camilamacedo86 commented on #173
@damienomurchu could you add the steps to specify a blank string '' for the Wildcard DNS Host ?

[2018-07-13 08:55] damienomurchu commented on #173
Added additional detail above now

[2018-07-13 09:08] camilamacedo86 commented on #173
@damienomurchu Could you add the point where the installation fails and the error? Also, could you try do `oc cluster up` in this installation and see if it works?

[2018-07-13 09:23] jasonmadigan commented on #171
@pawelpaszki from looking at the event logs, it looks like you're under disk space pressure, so kubernetes isn't scheduling things. You'll likely want to cleanup some space.

[2018-07-13 17:40] camilamacedo86 commented on #173
@damienomurchu  the PR https://github.com/aerogear/mobile-core/pull/179 will solve this issue.

[2018-07-13 18:07] maleck13 commented on #173
fixed via https://github.com/aerogear/mobile-core/pull/179

[2018-07-13 18:07] #173 closed

[2018-07-13 18:12] camilamacedo86 opened #180 "Repo mobile-core is not shown that the PR is outdated related the master"
## Description
* Repo mobile-core is not shown that the PR is outdated related the master
* For all our projects we can see that and don't allow we merge if the PR is behind of the master.

[2018-07-13 18:13] camilamacedo86 commented on #180
Hi @maleck13,

I could validate it now after you did a merge one of my PRs

[2018-07-13 18:14] maleck13 commented on #180
So ok to close?

[2018-07-13 18:16] camilamacedo86 commented on #180
Is not important shows that the branch is outdated and need a rebase with the master branch? Did you already change this setup?

[2018-07-13 18:42] camilamacedo86 commented on #137
Solved in the PR

[2018-07-13 18:42] #137 closed

[2018-07-13 18:43] camilamacedo86 commented on #131
Solve in the PR/merged

[2018-07-13 18:43] #131 closed

[2018-07-14 09:38] camilamacedo86 commented on #136
PR already made https://github.com/aerogear/mobile-core/issues/136

[2018-07-14 15:51] camilamacedo86 commented on #134
PR made to solve it : https://github.com/aerogear/mobile-core/pull/183

[2018-07-14 17:37] camilamacedo86 commented on #138
Hi @damienomurchu,

Just to share.  I could not reproduce this issue in the Mac OS X with the following docker version.

[code]

[2018-07-14 18:00] camilamacedo86 commented on #140
Hi @matskiv

Following some points.

* The need of this lib is in the requirements. See [here](https://github.com/aerogear/mobile-core/blob/c2e2d7d2bad769c5ba0674aea4ae08bfbad004d8/docs/walkthroughs/local-setup.adoc#tooling-requirements-required).

* Also, if you check [here](https://www.reddit.com/r/Fedora/comments/8ehrba/fedora_server_edition_with_ansible/) it can occur when the bash used in old

[2018-07-16 07:57] matskiv commented on #140
@camilamacedo86 I was following docs on aerogear website: https://docs.aerogear.org/aerogear/latest/getting-started.html and this lib was not mentioned in prerequisites there. So perhaps this should be an issue for aerogear/mobile-docs ?

[2018-07-16 09:50] damienomurchu commented on #138
@camilamacedo86 Good to know this issue is not present with 18.03 on a different OS. As per [OpenShift documentation](https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#prerequisites) only v1.13 of docker is supported for OpenShift 3.9

[2018-07-16 10:02] camilamacedo86 commented on #138
Hi @damienomurchu,

It the doc is "This command was released with the 1.3+ version of oc client tools, so you must be using version 1.3+ or newer for this command to work", which means that the min required version is `1.3`, but not that only this version is supported.

Is make sense to you the previous explanation about the issue described here and that it is more related to the docker and its se

[2018-07-16 10:11] damienomurchu commented on #138
@camilamacedo86 `This command was released with the 1.3+ version of oc client tools, so you must be using version 1.3+ or newer for this command to work` - this just means `oc cluster up` & `oc cluster down` are available form 1.3 onwards. The only version of docker officially supported with OC 3.9 is docker v1.13 as per [link](https://github.com/openshift/origin/blob/master/docs/cluster_up_down.m

[2018-07-16 10:41] camilamacedo86 commented on #138
@damienomurchu could you check the following..

"if you search for this kind of issue, see [here](https://stackoverflow.com/questions/42703481/why-has-docker-volume-run-out-of-space) for example, shows something more related to the install/setup of the current docker than an issue in a specific version. Probably, if you just re-install the version used when the issue was faced and/or try fixed as

[2018-07-16 17:24] camilamacedo86 commented on #129
@evanshortiss create the following project as a POC/for his tests.

- https://github.com/evanshortiss/mcup
- https://github.com/evanshortiss/mcup/blob/master/src/mobile-core.ts#L138

Usually, all our client tools are made in NodeJS which could make the things really easier here to solve this issue. For example  `npm install mobile-core` and run `mobile install` and done. Also, if we used yargs as

[2018-07-17 08:32] camilamacedo86 commented on #132
Done 👍

[2018-07-17 08:32] #132 closed

[2018-07-17 08:39] camilamacedo86 opened #187 "Try to remove the need to use sudo to run ansible-scripts"
## Description
WHAT: Try to remove the need to use sudo to run ansible-scripts
WHEN: the ansible scripts are running they are requiring the sudo privilege

PS.: I tested without the sudo and worked locally, however, I already have all installed then is required run to be sure in a new env and the full installation.

## Environment

*Operating system*:
*OpenShift versions*:

## Steps to reproduce

[2018-07-17 13:09] mmusil commented on #140
@camilamacedo86 @matskiv I think it would even make sense to add some check to the installer itself and if necessary, install it or just put step that would try to install it either way. With Ansible it should be easy thing to do :)

[2018-07-17 13:52] camilamacedo86 commented on #140
@mmusil

My point is that the issue faced/described will not so long occur probably. Because of the change performed in the #181. (Please, check my comment above) However, the ansible scripts are covering just the versions 25 and 26 of Firefox which I believe that is wrong and should cover all platforms. In this way, it will be covered by the installation already and is not so long required the ch

[2018-07-17 14:07] matskiv commented on #140
@camilamacedo86  So you think that libselinux-python is installed for one of the python version by default? And that's why it will work with bash from env?

[2018-07-17 21:15] johnfriz commented on #109
@pmacko1 - We will be moving any user facing docs to the mobile-docs repo (which will be most of the existing content). Anything that remains will be contributor focused.

@finp - FYI... still need to finalise the list of content that is moving to mobile-docs. Can you clear out the ones we have already moved over?

[2018-07-19 11:12] camilamacedo86 commented on #187
No required run ansble scripts as sudo.

[2018-07-19 11:12] #187 closed

[2018-07-19 11:15] camilamacedo86 commented on #178
@maleck13 and @david-martin how we can solve it? Could we create a new repo just for the installer?

[2018-07-19 11:33] wtrocki commented on #178
FYI @finp

[2018-07-19 12:43] finp commented on #178
@camilamacedo86  some of this work is already underway as part of https://issues.jboss.org/browse/AEROGEAR-7611

[2018-07-19 13:11] camilamacedo86 commented on #178
@finp @wtrocki IHMO the installer should not contain any doc because the user will looking for it in the website. When a user downloads the installer the goal is just to install. However, shows required have the docs here in this repo according to the discussion in < https://groups.google.com/forum/#!topic/aerogear/1GDGeRQq6gk,>, then my suggestion is we have a repo just with the installer.

[2018-07-23 21:00] camilamacedo86 commented on #140
@matskiv I think that 2 things could cause/solve this issue.
One is the version of the bash used as you described that indeed could already have it installed and another point here is that some roles were not been executed for the newer Fedora versions. Please, could you check the PR https://github.com/aerogear/mobile-core/pull/193/files? Please, let us know if it solved your issue.

c/c @mmusil

[2018-07-23 21:00] camilamacedo86 commented on #110
@finp could you check if it will be solved with the PR https://github.com/aerogear/mobile-core/pull/193 ?

[2018-07-23 21:05] camilamacedo86 commented on #134
It was solved,

[2018-07-23 21:05] #134 closed

[2018-07-23 21:06] camilamacedo86 commented on #135
@austincunningham could you provide the steps/setup to face this issue? Because just following the instructions did not allow us to reproduce it.

[2018-07-24 08:05] austincunningham commented on #135
@camilamacedo86
- follow the getting started guide
[code]
- don't checkout 1.0.0
- run the installer
[code]
- enter dockerhub credentials
- accept the defaults when prompted,
- error occurs

Suspect it's OS related bug with master

[2018-07-24 10:46] camilamacedo86 commented on #135
@austincunningham shows by following it that your SO was with some specific setup and it was using
`addr:10.201.82.185.nip.io` instead of `10.201.82.185.nip.io`.  What shows if you run it now in the cluster IP by default? ( following an example )

<img width="236" alt="screen shot 2018-07-24 at 11 45 29" src="https://user-images.githubusercontent.com/7708031/43133556-14d0cc5c-8f37-11e8-9362-97b5a0

[2018-07-24 10:51] camilamacedo86 commented on #136
Done solved.

[2018-07-24 10:51] #136 closed

[2018-07-24 14:13] camilamacedo86 commented on #135
But what was the valued returned by default? It was returned with the : ?

[2018-07-24 15:04] austincunningham commented on #135
Suspect the issue is on this line, https://github.com/aerogear/mobile-core/blob/95f587ef3a43ef5550ac80364a6fd28a38ebe1e2/installer/install.sh#L358 When run locally i get the following
[code]

[2018-07-24 15:48] camilamacedo86 commented on #142
Done.

[2018-07-24 15:48] #142 closed

[2018-07-24 15:52] camilamacedo86 commented on #135
Perfect !!! It was what I'd like to confirm :-) The problem here is that the default function is returning the IP with the `addr:` in front of it.

[2018-07-25 09:22] jstaffor opened #194 "./installer/install.sh fails on linux"
## Description
./installer/install.sh fails

## Environment
Checking Docker version. 18.06.0-ce

Checking Python version. Python 2.7.5

Checking Ansible version. ansible 2.7.0

Checking OpenShift client tools version. oc v3.9.0

*Operating system*:
Linux jstaffor.remote.csb 3.10.0-693.21.1.el7.x86_64 #1 SMP Fri Feb 23 18:54:16 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

*OpenShift versions*:
oc v3.9.

[2018-07-25 15:52] finp commented on #110
unable to replicate, even without #193, closing

[2018-07-25 15:52] #110 closed

[2018-07-25 16:09] camilamacedo86 commented on #110
Hi @finp,

Thank you for verify.  Could you approve the PR, please?

[2018-07-26 05:56] camilamacedo86 commented on #194
Hi @jstaffor,

Could you check if the PR https://github.com/aerogear/mobile-core/pull/193 solve your issue? I believe that with it you will not face problems.

[2018-07-26 06:35] camilamacedo86 commented on #14
PR made : https://github.com/aerogear/mobile-core/pull/195

[2018-07-26 09:16] jstaffor commented on #194
Hi @camilamacedo86 ,

I implemented PR #193 locally but unfortunately, the same error occurs.

John

[2018-07-26 09:39] camilamacedo86 commented on #194
Hi @jstaffor,

Thank you for let us know. After looking it further it shows some related to https://github.com/openshift/origin/issues/18747 and/or Note: https://github.com/openshift/ansible-service-broker/issues/585.

`WARNING: Binding DNS on port 8053 instead of 53`
`Error: failed to start the template service broker apiserver: timed out waiting for the condition`

Regards the info provided you

[2018-07-26 09:56] jstaffor commented on #194
Hi @camilamacedo86, that's very interesting!

I'm running "Red Hat Enterprise Linux Workstation 7.4" ... me thinks it is time to update to 7.5 :)

[2018-07-26 10:40] camilamacedo86 commented on #14
Closing it with the following info which was added in the PR:

"This is related with ansible broker trying to evaluate user permissions and in the past this caused issues on Mac environments, but since then this was fixed upstream. Ticket and PR could be closed."

"As for this issue, I think that this issue is outdated as we seen some problems with this on different docker versions and they are no

[2018-07-26 10:40] #14 closed

[2018-07-26 11:54] finp commented on #178
@camilamacedo86  I don't think I should recommend removing all docs from mobile-core, neither do I think that the community decided to do that. I think the docs in this directory have some value and should be posted somewhere, what do you think of the following idea:
* docs get written in mobile-core
* when stable, those docs get posted as blog posts
* docs get edited and moved to mobile-docs (rem

[2018-07-30 12:38] pmacko1 commented on #140
hi @camilamacedo86 im running a fedora 28 in vm and encountered this error as well. I installed `python-dnf` and `libeselinux-python`. This should be in docs.aerogear.org.

[2018-07-30 12:40] camilamacedo86 commented on #140
@pmacko1 the  PR which is not merged yet https://github.com/aerogear/mobile-core/pull/193 should solve this scenario.

[2018-07-30 12:55] jstaffor commented on #194
@pmacko1 - re "I would drop any mentions of rhel in docs.aerogear.org. Because it can give impression that RHEL is supported and I don't think we want to go that way." as mentioned in https://github.com/aerogear/mobile-docs/pull/301 - I have asked if we should reduce the prereqs in `docs.aerogear.org` from "MacOS or Linux"  to "MacOS or Fedora". See the following email thread for more info:

From:

[2018-07-30 13:55] finp opened #197 "remove hard links to docs"
## Description
hard links to docs

After installation, following is displayed:

INFO: For information on how to enable TLS communication on your device to this cluster see https://docs.aerogear.org/aerogear/latest/getting-started.html#using-self-signed-certificates-in-mobile-apps

To avoid this linking, we can:

1. Create a redirect page in docs.aerogear.org repo.
2. Change installer/playbook.yml

[2018-07-30 14:00] camilamacedo86 commented on #194
Hi @jstaffor  since we could confirm that it is an issue with OCP and RHEL 7.4 which is already tracked in its respective repos could we close this one?

[2018-07-30 14:29] jstaffor commented on #194
Hi @camilamacedo86 - if I close this, it makes sense to reduce the scope of the prereqs to  "MacOS or Fedora" as Mobile Services does not run on RHEL due to https://github.com/openshift/origin/issues/18747 - do you agree?

[2018-07-30 14:57] camilamacedo86 commented on #194
@jstaffor I don't mean what do you mean with "reduce the scope of the prereqs to "MacOS or Fedora"? The issue is with RHEL/CentOS 7.4 and RHEL/CentOS 7.5 specifically and the problem is not in the installer/mobile. It is tracked here https://github.com/openshift/origin/issues/18747.

Then, IMHO the only action that we can take so far is to add in the mobile docs some not regards known issues. Is i

[2018-07-30 15:13] jstaffor commented on #194
That is a much better suggestion IMO @camilamacedo86 :+1:

I've added the following content to the upstream docs:

If you are happy with this, I'll commit https://github.com/aerogear/mobile-docs/pull/301/files and I'll be more than happy to close this issue :)

[2018-07-30 15:34] jstaffor commented on #194
@camilamacedo86 - thanks for the assistance with this - it was much appreciated!

[2018-07-30 15:34] #194 closed

[2018-07-30 17:00] camilamacedo86 commented on #194
I am glad in to be helpful 👍

[2018-08-07 11:10] pmacko1 opened #200 "Can't install mobile services on fedora 28 in virtual machine"
## Description
SSIA, using 1.0.0 branch
[code]

## Environment
*Operating system*:
Fedora 28
*OpenShift versions*:
openshift-origin-client-tools-v3.10.0-dd10d17-linux-64bit
*Docker version*
Docker version 18.06.0-ce, build 0ffa825

[asdf@localhost mobile-core]$ ansible --version
ansible 2.6.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/asdf/.ansible/plugins/

[2018-08-08 09:27] laurafitzgerald opened #202 "Unable to run oc cluster up on OS 3.10 - fails on flags passed"
## Description
Trying to run the mobile-core installer but installer is failing on oc cluster up step.
Downgrading to oc 3.9 works but the [documentation](https://docs.aerogear.org/aerogear/latest/getting-started.html#prerequisites) states 3.9 or higher.

## Error
[code]

## Environment

*Operating system*:
MacOS High Sierra
Version 10.13.6

*OpenShift versions*:
oc v3.10.0+dd10d17
kubernetes v1.1

[2018-08-08 10:31] odra commented on #202
The new oc cli (3.10) uses a different cli arg to enable the service catalog component:

```oc cluster up --enable=service-catalog```

[2018-08-08 10:35] laurafitzgerald commented on #202
@odra so this would require a change to the ansible commands to run one or the other based on version right?

[2018-08-08 10:36] odra commented on #202
Yep, it will need to change the command arg if oc version is >= 3.10

[2018-08-08 10:40] odra commented on #202
Looks like there is a better solution.

Just run the following command if >= 3.10:

```oc cluster add service-catalog```

[2018-08-08 12:26] pmacko1 commented on #200
@camilamacedo86 hey, i have updated the issue with the system info, thanks

[2018-08-08 12:31] camilamacedo86 commented on #200
@pmacko1,

Following some observations.

1. When add the log add it as a code. Following an example.

[code]

2. Shows that you are not using the latest version of the installer at all. Please, remove the aerogear-mobile dir and clone it again.

3. After that please run it without the --debug and with the debug to add it here.

[2018-08-08 13:25] pmacko1 commented on #200
tested with aerogear:master
[code]

[2018-08-08 14:00] pmacko1 commented on #200
@camilamacedo86 Could you tell me what shows that I'm not using the latest installer, please?

[2018-08-08 14:27] camilamacedo86 commented on #200
Hi @pmacko1,

You were not using the correct repo and branches. The installer is working perfectly well according to the above description. See that you have an error to run `oc cluster up` and it is telling for you the OCP doc that you need a check to fix your local environment. The problem is with your setup

Try to run `oc cluster down` then `oc cluster up`. If it did not work check the error i

[2018-08-15 10:28] finp commented on #197
addressed in #203

[2018-08-15 10:52] finp opened #204 "Installer fails silently"
## Description

The installer runs, and can log into openshift console. However there is no mobile tab in service catalog despite waiting several minutes

The issue is that no error was displayed

## Environment

*Operating system*:
Fedora 27

*OpenShift versions*:
3.9

## Steps to reproduce
Ran installer accepting defaults, eg latest

[2018-08-15 12:32] finp commented on #204
actual installer issue is reported at https://groups.google.com/d/topic/aerogear/oBhCnO9QmL8/discussion
(this issue was only raised to address the silent nature of install failure)

[2018-08-15 14:07] camilamacedo86 commented on #204
Hi @finp, could you run the command $oc version in order to get all details? Could you run the install with the param --debug and add here the full output for we check? Could you run the command $docker --version and add here the result?.

[2018-08-15 14:53] camilamacedo86 commented on #204
@finp it is since it did not occur in all versions and it can be some issue in some specific version of OCP, and or broker, and etc .. Could you provide this info?

[2018-08-15 21:06] camilamacedo86 commented on #140
I could reproduce this error with a VM and the version Fedora 28 today.
Then, we need to see how to install it automatically and/or check if it installed when the SO is Fedora.

<img width="1188" alt="screen shot 2018-08-15 at 16 06 39" src="https://user-images.githubusercontent.com/7708031/44173286-648a5400-a0d7-11e8-891b-9cb2f41eb880.png">

@pmacko1 I will update the description here to make the

[2018-08-16 13:46] pmacko1 commented on #204
@camilamacedo86 Hey Camila, I think I know what Paul wants to report:
I believe that the default behaviour of Ansible is that it reports a million unnecessary information as in:

![](https://user-images.githubusercontent.com/7708031/44155447-3cd1d032-a0a5-11e8-9c24-c9cfa234b3a5.png)

with warnings that do not really(???) mean anything, making it a scary UX. Downside of keeping Ansible's mouth shut

[2018-08-18 19:59] camilamacedo86 opened #205 "Installer successfully terminates improperly when error occurs in the Ansible script execution"
## Description
If some error occurs in the execution of the Ansible scripts it is finalizing with a success message when the expected behaviour is the process be killed and an error message be informed.

## Environment
It will occur in any environment, however, can be reproducible when try to install in the Fedora and it is missing the lib libselinux-python for example. Issue https://github.com/ae

[2018-08-18 20:07] camilamacedo86 commented on #204
Hi @finp,

I create the issue https://github.com/aerogear/mobile-core/issues/205 for we solve the scenario where the installer finish with a success message, however, it faced an issue in the Ansible scripts. If this issue is about it could we move forward in favour of https://github.com/aerogear/mobile-core/issues/205 because of the description on there?

Also, could you please re-run it with the

[2018-08-18 20:11] camilamacedo86 commented on #202
@laurafitzgerald I believe that the text in the docs upper than 3.9 means 3.9.X but not 3.10. However, shows that we could make this work in the 3.10 easily

[2018-08-18 20:49] camilamacedo86 commented on #200
Hi @pmacko1,

I am closing this one since we could check that it is working, however, feel free to re-opened. Following the main problems tracked which affects the installation in Fedora. If we face other scenarios/issues that affect the Fedora installation we need track them too.

- The SO did not have installed the libselinux-python which is required (https://github.com/aerogear/mobile-core/issu

[2018-08-18 20:49] #200 closed

[2018-08-19 16:29] finp commented on #204
@camilamacedo86  you've captured the issue perfectly in #205, closing

[2018-08-19 16:29] #204 closed

[2018-08-20 06:41] camilamacedo86 commented on #205
The PR https://github.com/aerogear/mobile-core/pull/206 was made in order to solve it.

[2018-08-20 08:35] wtrocki commented on #15
We were copying scripts from ansible. With amount of custom elements in the scripts it will be hard now to be done properly.

[2018-08-20 08:35] #15 closed

[2018-08-20 08:36] damienomurchu commented on #138
Closing this issue, as per previous comment, oc versions > 1.13 are not officially supported by OpenShift yet.

[2018-08-20 08:36] #138 closed

[2018-08-21 10:28] pmacko1 opened #207 "Installer does not see oc client tools installed in /usr/local/bin when run as sudo"
[code]
- Fedora 28
- master branch of mobile-core
[code]

[2018-08-21 12:39] camilamacedo86 commented on #129
Started this topic about this issue: https://groups.google.com/forum/#!topic/aerogear/BdQb3p0wDH0

[2018-08-21 12:41] pmacko1 commented on #207
@camilamacedo86 could you ping someone re this? thanks!

[2018-08-21 12:53] pmacko1 commented on #200
Hey @camilamacedo86, thanks. I would keep this open, because it is still in progress as a trello card. wdyt?

[2018-08-21 13:59] camilamacedo86 commented on #200
@pmacko1 the task where this issue is described properly is here: https://github.com/aerogear/mobile-core/issues/205. The description of this one here did not track an issue in the mobile installer at all. It just shows that your cluster was not working/setup properly.

[2018-08-21 14:08] camilamacedo86 commented on #207
Hi @pmacko1 ,

This message just occurs if the oc is not installed. The check is made [here|https://github.com/aerogear/mobile-core/blob/master/installer/install.sh#L248]. See that to check it the command oc will be called.

It is important to highlight that Linux SO allows you to install and give specific permissions for each user. I don't see it as a problem.

If this happened, then execute the

[2018-08-21 14:50] pmacko1 commented on #207
yeah, this resolves this, thank you for your time and effort @camilamacedo86 !

[2018-08-21 14:50] #207 closed

[2018-09-06 16:18] camilamacedo86 opened #208 "Why is mobile-core repo not shown that the PR is outdated regards the master branch?"
Why is mobile-core repo not shown that the PR is outdated regards the master branch? Why is the PR not blocked in this scenario was we have the same setup in other projects?

[2018-09-07 09:35] camilamacedo86 commented on #208
@wtrocki tks. I understand that you change something because now it shows that the branch is outdated. Closing this one.

[2018-09-07 09:35] #208 closed

[2018-10-09 11:01] pmacko1 commented on #197
k to close then?

[2018-10-15 13:58] #197 closed

[2018-10-15 14:18] pmacko1 commented on #205
k to close? #206 has been merged

[2018-11-23 13:43] droidscout opened #212 "Installer fails when trying to use it on debian stretch"
## Description
If I execute the installer script on debian stretch (9.6) the installer fails on task "andrewrothstein.unarchive-deps : install common pkgs..."

## Expected Behavior
 TASK [output-oc-cluster-status : debug] ******************************************************************************************************************************************************
ok: [localhost] => {
    "m

[2018-12-07 09:51] wei-lee commented on #212
Hi @droidscout,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:51] #212 closed

[2018-12-07 09:52] wei-lee commented on #202
Hi @laurafitzgerald,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:52] #202 closed

[2018-12-07 09:52] wei-lee commented on #178
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:52] #178 closed

[2018-12-07 09:53] wei-lee commented on #171
Hi @pawelpaszki,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:53] #171 closed

[2018-12-07 09:53] wei-lee commented on #170
HI @davidkirwan,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:53] #170 closed

[2018-12-07 09:53] wei-lee commented on #169
HI @grdryn,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:53] #169 closed

[2018-12-07 09:54] wei-lee commented on #168
Hi @austincunningham,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:54] #168 closed

[2018-12-07 09:55] wei-lee commented on #167
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:55] #167 closed

[2018-12-07 09:55] wei-lee commented on #166
Hi @davidffrench,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:55] #166 closed

[2018-12-07 09:56] wei-lee commented on #164
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:56] #164 closed

[2018-12-07 09:56] wei-lee commented on #163
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:56] #163 closed

[2018-12-07 09:57] wei-lee commented on #162
@camilamacedo86

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:57] #162 closed

[2018-12-07 09:57] wei-lee commented on #161
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:57] #161 closed

[2018-12-07 09:58] wei-lee commented on #160
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 09:58] #160 closed

[2018-12-07 10:01] wei-lee commented on #158
Hi @davidffrench,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:01] #158 closed

[2018-12-07 10:01] wei-lee commented on #157
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:01] #157 closed

[2018-12-07 10:01] wei-lee commented on #155
Hi @davidffrench,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:01] #155 closed

[2018-12-07 10:02] wei-lee commented on #154
Hi @davidffrench,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:02] #154 closed

[2018-12-07 10:03] wei-lee commented on #153
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:03] #153 closed

[2018-12-07 10:03] wei-lee commented on #152
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:03] #152 closed

[2018-12-07 10:04] wei-lee commented on #151
Hi @damienomurchu,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:04] #151 closed

[2018-12-07 10:04] wei-lee commented on #150
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:04] #150 closed

[2018-12-07 10:04] wei-lee commented on #149
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:04] #149 closed

[2018-12-07 10:05] wei-lee commented on #148
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:05] #148 closed

[2018-12-07 10:05] wei-lee commented on #147
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:05] #147 closed

[2018-12-07 10:05] wei-lee commented on #146
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:05] #146 closed

[2018-12-07 10:05] wei-lee commented on #145
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:05] #145 closed

[2018-12-07 10:06] wei-lee commented on #144
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:06] #144 closed

[2018-12-07 10:06] wei-lee commented on #143
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:06] #143 closed

[2018-12-07 10:06] wei-lee commented on #141
Hi @grdryn,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:06] #141 closed

[2018-12-07 10:07] wei-lee commented on #140
Hi @mmusil,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:07] #140 closed

[2018-12-07 10:07] wei-lee commented on #135
Hi @austincunningham,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:07] #135 closed

[2018-12-07 10:07] wei-lee commented on #133
@damienomurchu,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:07] #133 closed

[2018-12-07 10:07] wei-lee commented on #129
Hi @camilamacedo86,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:07] #129 closed

[2018-12-07 10:08] wei-lee commented on #127
Hi @dneary,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:08] #127 closed

[2018-12-07 10:08] wei-lee commented on #109
@pmacko1,

Thanks for your feedback. This repo is now deprecated and is replaced by [Mobile Developer Console](https://github.com/aerogear/mobile-developer-console). Could you please give it a try and if you still experience the same problem, please open a new issue in that project.

Thanks.

[2018-12-07 10:08] #109 closed